{
  "default": {
    "accessKey": "YOUR_DEFAULT_ACCESS_KEY",
    "secretKey": "YOUR_DEFAULT_SECRET_KEY",
    "host": "api.sql.my",
    "region": "ap-southeast-1",
    "service": "execute-api"
  },
  "store-123": {
    "accessKey": "STORE_123_ACCESS_KEY",
    "secretKey": "STORE_123_SECRET_KEY",
    "host": "api.sql.my",
    "region": "ap-southeast-1",
    "service": "execute-api"
  },
  "store-456": {
    "accessKey": "STORE_456_ACCESS_KEY",
    "secretKey": "STORE_456_SECRET_KEY",
    "host": "api.sql.my",
    "region": "ap-southeast-1",
    "service": "execute-api"
  }
}


